<md-dialog aria-label="Clients" style="width: 800px">
  <form id="frmUser" name="frmUser" ng-cloak >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit clients</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()" title="close">
          <md-icon ng-bind="'highlight_off'"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <md-content layout="column">
        <md-content layout="row">
          <md-input-container flex="30" >
              <label>Client</label>
              <md-select ng-model="client_id">
                <md-option ng-repeat="c in clients" ng-value="c.id">
                   {{(c.sap_number ? c.sap_number : c.name)}}
                </md-option>
              </md-select>
            </md-input-container>
            <div flex="20">
              <md-button ng-disabled="!client_id" style="margin-top: 15px " class="md-raised  md-primary" ng-click="add()">Add</md-button>
            </div>
        </md-content>
        <md-table-container>
         <table md-table ng-model="selected">
           <thead md-head>
             <tr md-row>
               <th md-column >Client</th>
               <th md-column ></th>
             </tr>
           </thead>
           <tbody md-body >
              <tr md-row ng-repeat="c in gatewayClients">
                <td md-cell>
                    {{c.client.sap_number}}                  
                </td>
                <td md-cell>
                    <md-button class="md-icon-button" aria-label="Delete" ng-click="delete($event, c)" title="Delete" >
                      <md-icon ng-bind="'delete'"></md-icon>
                    </md-button>
                </td>
              </tr>
           </tbody>
         </table>

        </md-table-container>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised  md-primary" ng-click="close()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>