<md-sidenav class="md-sidenav-left" md-component-id="left">

      <md-toolbar class="md-theme-indigo" style="background: gray">
        <h1 class="md-toolbar-tools">Meister SDK Engine</h1>
      </md-toolbar>

      <md-content>
        
        <md-menu-content style="max-height: 400px">
          <md-menu-item>
          <md-button ui-sref="home">
            <md-icon ng-bind="'home'"></md-icon> Home
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="endpointManagementTool">
            <md-icon ng-bind="'code'"></md-icon> Endpoint Management Tool
          </md-button>
        </md-menu-item>
       <md-menu-item ng-if="user_type() == SYSTEM_ADMIN">
          <md-button ui-sref="clients">
            <md-icon ng-bind="'work'"></md-icon> Clients
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="user_type() == SYSTEM_ADMIN || user_type() == CLIENT_ADMIN">
          <md-button ui-sref="users">
            <md-icon ng-bind="'supervisor_account'"></md-icon> Users
          </md-button>
        </md-menu-item>
        <md-menu-item ng-if="user_type() == SYSTEM_ADMIN || user_type() == CLIENT_ADMIN">
          <md-button ui-sref="gateways">
            <md-icon ng-bind="'build'"></md-icon> Gateways
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="edit-profile">
            <md-icon ng-bind="'account_circle'"></md-icon> Edit your profile
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="logout()">
           <md-icon ng-bind="'power_settings_new'" ></md-icon> Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
        
      </md-content>

</md-sidenav>