<footer class="footer footer-dark" layout="row" layout-fill layout-align="center center">
    <div layout="row" layout-fill layout-align="center center" layout-margin flex-gt-xs="100" flex-sm="90" flex-gt-sm="85" flex-md="80"
        flex-gt-md="75" flex-lg="70" flex-gt-lg="65" flex-xl="60" layout-wrap>
        <div layout="row" layout-fill layout-align="start center" flex="100">
            <p>
                <a href="https://www.youtube.com/channel/UCsiMezSD1zvbKpJaSH32-aQ" class="" title="Subscribe to our YouTube channel" target="_blank">
                    <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/company/18169420/" title="Connect to us on LinkIn" target="_blank">
                    <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
            </p>
        </div>
        <div layout="row" layout-fill layout-align="start center" flex="100">
            <p class="copyright mt10">
                <a href="#">Privacy Policy</a> |
                <a href="#">Terms of Use</a>
                <br> Copyright © 2017 Gateway Architects. All rights reserved.
            </p>
        </div>
        <div layout="row" layout-fill layout-align="center center" layout-wrap flex="100">
            <hr layout="row" flex="100">
            <p class="copyright mb15">Copyright © 2017 Gateway Architects. All rights reserved. Site design by
                <b>LCN Online</b>.</p>
        </div>
    </div>
</footer>