<md-dialog aria-label="Modules" style="width:800px">
  <form id="frmModule" name="frmModule" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add/Edit a Module</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" title="close">
          <md-icon ng-bind="'highlight_off'"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
             <md-input-container class="md-block">
              <label>Name</label>
              <input ng-model="module.NAME" required>
            </md-input-container>
            <md-input-container >
              <label>Date</label>
               <md-datepicker ng-model="module.DATE" md-placeholder="Enter date" required></md-datepicker>
            </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="frmModule.$invalid">
       Save
      </md-button>
      <md-button class="md-raised" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
