<md-dialog aria-label="Styles" style="width:800px">
  <form id="frmStyle" name="frmStyle" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add/Edit a Style Template</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" title="close">
          <md-icon ng-bind="'highlight_off'"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
            <md-input-container class="md-block" required>
              <label>Description</label>
              <input type="text" ng-model="style.DESCRIPTION">
            </md-input-container>
            <md-input-container class="md-block">
                <div  ui-ace="{ onChange: changeJSON,mode: 'json'}" style="height: 185px;"  ng-model="style.JSON"></div>

                        <!-- <div ng-jsoneditor ng-model="style.JSON" options="{mode: 'tree'}" style="width: 300px; height: 215px;"  prefer-text="true" ></div> -->
            </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="!valid || frmStyle.$invalid">
       Save
      </md-button>
      <md-button class="md-raised" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>