<md-dialog aria-label="Styles" style="width:800px">
  <form id="frmStyle" name="frmStyle" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add/Edit a Style</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" title="close">
          <md-icon ng-bind="'highlight_off'"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
             <md-input-container class="md-block">
              <label>Name</label>
              <input ng-model="style.NAME" required>
            </md-input-container>
            <md-input-container class="md-block" required>
              <label>Direction</label>
              <md-select ng-model="style.DIRECTION" >
                            <md-option value="I">inbound</md-option>
                            <md-option value="O">outbound</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Json</label>
              <input ng-model="style.JSON">
            </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="frmStyle.$invalid">
       Save
      </md-button>
      <md-button class="md-raised" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>