<md-dialog aria-label="Users" style="width: 800px">
  <form id="frmUser" name="frmUser" ng-cloak >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add/Edit an User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" title="close">
          <md-icon ng-bind="'highlight_off'"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content">
           <md-input-container class="md-block">
              <label>Email</label>
              <input ng-model="user.email" type="email" required>
            </md-input-container>
            <md-input-container class="md-block">
              <label>First Name</label>
              <input ng-model="user.first_name" type="text" required>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Last Name</label>
              <input ng-model="user.last_name" type="text" required>
            </md-input-container>
            <md-input-container class="md-block" ng-if="!user.id">
              <label>Type</label>
              <md-select ng-model="user.type">
                <md-option ng-repeat="t in types" ng-value="t.id">
                  {{t.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" ng-if="!user.id && user.type < $root.SYSTEM_ADMIN ">
              <label>Client</label>
              <md-select ng-model="user.client_id">
                <md-option ng-repeat="c in clients" ng-value="c.id">
                  {{c.name}}
                </md-option>
              </md-select>
            </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="frmUser.$invalid">
       Save
      </md-button>
      <md-button class="md-raised" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>