<div ng-cloak>

<main-menu></main-menu>
<main-toolbar></main-toolbar>


<md-content ng-init="init()" id="content">

  <md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-if="filter.show == false">
  <div class="md-toolbar-tools">
    <h2 class="md-title">Gateways</h2>
    <div flex="" class="flex"></div>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="filter.show = true" title="Search">
         <md-icon ng-bind="'find_in_page'"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="add($event, null)" title="Add Gateway">
         <md-icon ng-bind="'note_add'"></md-icon>
    </md-button>
    
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default ng-hide" ng-show="filter.show && !selected.length" >
  <div class="md-toolbar-tools" >
    <form name="filter.form" style="padding-top: 30px">
      <div layout-gt-sm="row" layout-sm="column">
      
          <md-input-container class="md-block" flex-gt-sm>
             <md-icon ng-bind="'find_in_page'"></md-icon>
            <input type="text" ng-model="query.filterByName"  placeholder="Search by Name">
            <md-icon ng-bind="'highlight_off'" ng-click="removeFilter()"  style="cursor: pointer;"></md-icon>
          </md-input-container>
        </div>

  </form>
    
  </div>
</md-toolbar>

<md-table-container>

  <table md-table ng-model="selected" md-progress="promise" style="table-layout: fixed">
              <thead md-head md-order="query.order">
                <tr md-row >
                  <th md-column style="width: 5%">ID</th>
                  <th md-column style="width: 20%">Name</th>
                  <th md-column style="width: 40%">Url</th>
                  <th md-column style="width: 15%">Client</th>
                  <th md-column style="width: 10%">Auth Type</th>
                  <th md-column style="width: 10%">Actions</th>
                </tr>
              </thead>
              <tbody md-body style="font-weight: bold">
                <tr md-row class="with-hover" ng-repeat="g in gateways | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter:{name:query.filterByName}" md-auto-select>
                  <td md-cell>{{g.id}}</td>
                  <td md-cell>{{g.name}}</td>
                  <td md-cell style="text-overflow:ellipsis;overflow:hidden;">{{g.url}}</td>
                  <td md-cell>{{g.client.name}}</td>
                  <td md-cell>{{type(g.auth_type)}}</td>
                  <td md-cell>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="edit($event, g)" title="Edit" style="padding: 0px; margin: 0px; width: 22px">
                      <md-icon ng-bind="'mode_edit'"></md-icon>
                    </md-button>
                     <md-button class="md-icon-button" aria-label="Settings" ng-click="test_connection($event, g)" title="Test connection" style="padding: 0px; margin: 0px; width: 22px">
                      <md-icon ng-bind="'play_arrow'"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="delete($event, g)" title="Delete" style="padding: 0px; margin: 0px; width: 22px">
                      <md-icon ng-bind="'delete'"></md-icon>
                    </md-button>
                  </td>
                  
                </tr>
              </tbody>
            </table>
  
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{gateways.length}}" md-page-select></md-table-pagination>


</md-card>

    
   
</md-content>

<main-footer></main-footer>
</div>