<div ng-cloak >

<main-menu></main-menu>
<main-toolbar></main-toolbar>

    <md-content ng-init="init()" >
    <div flex-xs flex-gt-xs="100" layout="column">

    <md-card md-theme-watch>
        <md-card-title style="padding:5px 5px 5px">
          <md-card-title-text >
            <span class="md-headline" style="font-size: 18px">SAP Gateway FQDN {{gatewaySelected.name ? ': ' + gatewaySelected.name : ''}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
          <md-actions>
              <md-button  aria-label="Refresh" 
                      title="{{show_select_gateway === true ? 'Hide' : 'Show'}}" 
                      ng-click="show_select_gateway = !show_select_gateway" 
                      style="padding: 0px; margin: 0px; width: 22px">
                     {{show_select_gateway === true ? 'Hide' : 'Show'}}
                  </md-button>
          </md-actions>
        </md-card-title>
        <md-card-content ng-show="show_select_gateway">
          <md-select ng-model="gatewaySelectedId" placeholder="Select the Gateway" style="width:80%" ng-change="changeGateway(gatewaySelectedId)">
             <md-option ng-repeat="g in gateways" ng-value="g.id">
                  {{g.name}} --> {{g.client.name}}
              </md-option>
        </md-select>
        
        </md-card-content>
      </md-card>

    </div>
  </md-content>

 <md-content layout-xs="column" layout="row" ng-if="gatewaySelected!=null">
 <div flex-xs flex-gt-xs="50" layout="column">
      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Endpoints</span>
          </md-card-title-text>
       
        <md-actions>
                  <md-button class="md-icon-button" aria-label="Refresh" 
                      title="Execute" 
                      ng-if="nodeSelected && nodeSelected.source.STYLES"
                      ng-click="execute($event, nodeSelected)" 
                      style="padding: 0px; margin: 0px; width: 22px">
                     <md-icon ng-bind="'send'"></md-icon>
                  </md-button>
                   <md-button class="md-icon-button" aria-label="Refresh" 
                      title="Execute" 
                      ng-if="nodeSelected && nodeSelected.source && !nodeSelected.source.MODULES && !nodeSelected.source.ENDPOINTS && !nodeSelected.source.STYLES"
                      ng-click="execute_by_style($event, nodeSelected)" 
                      style="padding: 0px; margin: 0px; width: 22px">
                     <md-icon ng-bind="'send'"></md-icon>
                  </md-button>

        </md-actions>
         </md-card-title>
        <md-card-content style="height: 300px; overflow-y: auto"  ng-if="!loading_tree">
          <tree nodes='endpointsTree' options='treeOptions' ></tree>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-subheadline">Call URL/Details</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content  ng-if="!loading_tree" style="height: 200px; overflow-y: auto" >
         <span style="font-size: 12px;color: gray">{{url_details}}</span>
        </md-card-content>
      </md-card>
      

    </div>
    
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Call Syntax</span>
          </md-card-title-text>
          <md-actions  ng-if="!loading_tree">
            <md-button class="md-raised"  ng-if="payload_json.json" ng-click="execute_details($event)" >
              Execute Json
            </md-button>
            <!--<md-button class="md-raised">
              Call Details
            </md-button> -->
          </md-actions>
        </md-card-title>
        <md-card-content style="height: 200px; overflow-y: auto"  ng-if="!loading_tree">
          <!--tree nodes='payloadsTree' options='treeOptions' ></tree-->
          <div ng-jsoneditor="onLoadJson" ng-model="payload_json.json" options="payload_json.options" style="width: 100%; height: 215px;" ng-if="payload_json.json"></div>
        </md-card-content>
      </md-card>

      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-subheadline">JSON</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content style="height: 300px; overflow-y: auto"  ng-if="!loading_tree">
          <!--TEXTAREA style="width:100%;height: 280px"></TEXTAREA-->
          <pre ng-if="payload_json.json">{{pretty_payload_json(payload_json.json)}}</pre>
        </md-card-content>
      </md-card>

    </div>
 </md-content>
</div>