<div ng-cloak >

<main-menu></main-menu>
<main-toolbar></main-toolbar>

 <md-content ng-init="init()" id="content" >
    <div flex-xs flex-gt-xs="100" layout="column">

    <md-card md-theme-watch>
        <md-card-title style="padding:5px 5px 5px">
          <md-card-title-text>
            <span class="md-headline"  style="font-size: 18px">SAP Gateway {{gatewaySelected.name ? ': ' + gatewaySelected.name : ''}} - {{client.sap_number}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
           <md-actions>
              <md-button  aria-label="Refresh" 
                      title="{{show_select_gateway === true ? 'Hide' : 'Show'}}" 
                      ng-click="show_select_gateway = !show_select_gateway" 
                      style="padding: 0px; margin: 0px; width: 22px">
                     {{show_select_gateway === true ? 'Hide' : 'Show'}}
                  </md-button>
          </md-actions>
        </md-card-title>
        <md-card-content ng-show="show_select_gateway">
          <md-section layout="row" layout-align="left center" layout-wrap> 
             <md-input-container style="width: 200px">
               <label >Select Gateway:</label>
              <md-select ng-model="gatewaySelectedId" placeholder="Select Gateway"  ng-change="changeGateway(gatewaySelectedId)">
                 <md-option ng-repeat="g in gateways" ng-value="g.id">
                      {{g.name}}
                  </md-option>
            </md-select>
          </md-input-container>
          <md-input-container  style="width: 110px">
                    <label >Select Client:</label>
                    <md-select style="width: 80px" ng-model="client" placeholder="Select Client" ng-model-options="{trackBy: '$value.id'}">
                       <md-option ng-repeat="c in clients" ng-value="c.client">
                            {{c.client.sap_number}}
                        </md-option>
                  </md-select>
            </md-input-container>
          <md-input-container style="width: 100px">
               <md-button class="md-raised md-primary"  ng-disabled="!gatewaySelected || (clients.length && !client.id)" 
               ng-click="executeGateway()" style="margin-left: 0px" >
              Connect
            </md-button>
          </md-input-container>
            
        </md-section>
        
        </md-card-content>
      </md-card>

    </div>

 

 <md-content layout-xs="column" layout="row" ng-if="gatewaySelected!=null">
  <div flex-xs flex-gt-xs="5" layout="column" ng-if="tree_collapsible">
    <md-card  >
        <md-card-title style="-webkit-flex:none">
          <md-card-title-text>
            <div layout="row">
                
            </div>
          </md-card-title-text>
        <md-actions>
          <md-button class="md-icon-button" aria-label="Refresh" title="Show Tree"
                      ng-click="show_tree()" style="padding: 0px; margin: 0px; width: 22px">
                     <md-icon ng-bind="'navigate_next'"></md-icon>
                  </md-button>
        </md-actions>
        <md-card-content>
        
       </md-card-content>
      </md-card>
  </div>
 <div id="treeCointaner" flex-xs flex-gt-xs="30" layout="column" ng-if="!tree_collapsible">
   
       <md-card  style="height: 700px">
        <md-card-title style="-webkit-flex:none">
          <md-card-title-text>
            <div layout="row">
                <span class="md-headline">{{gatewaySelected.name}}</span>
            </div>
          </md-card-title-text>
        <md-actions>
           <md-button class="md-icon-button" aria-label="Refresh" title="Refresh"
                      ng-click="executeGateway()" style="padding: 0px; margin: 0px; width: 22px">
                     <md-icon ng-bind="'cached'"></md-icon>
                  </md-button>
                  <md-button hide-xs class="md-icon-button" aria-label="Refresh" title="Hide Tree"
                      ng-click="hide_tree()" style="padding: 0px; margin: 0px; width: 22px">
                     <md-icon ng-bind="'navigate_before'"></md-icon>
                  </md-button>
        </md-actions>
        </md-card-title>
       <md-card-content style="height: 600px; overflow-y: auto;padding-left: 0px" ng-if="!loading_tree">
        <tree nodes='basicTree' options='treeOptions' ></tree>
       </md-card-content>
      </md-card>
   
   </div>

  <div flex-xs flex-gt-xs="5" layout="column" ng-if="tree_collapsible_execute">
    <md-card >
        <md-card-title style="-webkit-flex:none">
          <md-card-title-text>
            <div layout="row">
                
            </div>
          </md-card-title-text>
        <md-actions>
          <md-button class="md-icon-button" aria-label="Refresh" title="Show"
                      ng-click="show_tree_execute()" style="padding: 0px; margin: 0px; width: 22px">
                     <md-icon ng-bind="'navigate_next'"></md-icon>
                  </md-button>
        </md-actions>
        <md-card-content>
        
       </md-card-content>
      </md-card>
  </div>
    
    <div flex-xs flex-gt-xs="{{sizeView()}}" layout="column" ng-show="node && !tree_collapsible_execute" >

      <md-card style="height: 700px"  ng-if="!mode_run && !add_endpoint && !bapi_node_is_selected">
      <md-list  layout-align="left center">
        <tree-actions flex layout="row"></tree-actions>
      </md-list>
        <md-card-title style="-webkit-flex:none;padding-bottom: 23px;">
          
          <md-card-title-text ng-if="nodeSelected.source">
            <span class="md-headline">Properties</span>
          </md-card-title-text>
         
        </md-card-title>
        <md-card-content style="height: 600px; overflow-y: auto" >
           <table md-table style="table-layout: fixed" ng-if="nodeSelected.source">
                    <thead md-head>
                      <tr md-row >
                          <th md-column style="width: 120px;padding: 0;">Property</th>
                          <th md-column>Value</th>
                          <th md-column style="width: 50px"> 
                           
                          </th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row class="with-hover" ng-repeat="(key, value) in nodeSelected.source" ng-if="key!='PKY' && key!='FKY' && key!='MEISTER_OWN' && key!='LOGICAL_DELETE' && key!='LOCKED' && !isArray(value) && (nodeSelected.type==='style_template' || (value && value!=''))">
                        <td md-cell style="text-overflow:ellipsis;overflow:hidden;padding:0px;vertical-align:top;padding-top: 12px"><span title="{{formatKey(key)}}">{{formatKey(key)}}</span></td>
                        <td md-cell style="text-overflow:ellipsis;overflow:hidden;padding:0px">

                          <span ng-if="!nodeSelected.$edit&&!nodeSelected.source[key+$index].$edit && key!='JSON'"  title="{{isArray(value) ? '(Collection)' : value}}">{{isArray(value) ? '(Collection)' : value}}</span>
                          <div ng-if="!nodeSelected.source[key+$index].$edit && key=='JSON'">
                            <div  ng-if="!nodeSelected.source[key+$index].$edit && key=='JSON'" ui-ace="{ mode: 'json'}" readonly style="width: 100%; height: 215px; background-color:#cccccc;"  ng-model="json_global_string" ></div>
                          </div>
                          <div ng-if="nodeSelected.source[key+$index].$edit && key=='LONG_TEXT'">
                            <form ng-submit="saveLongText(nodeSelected,$index,edit.current_long_text)">
                              <md-input-container class="md-block" >
                                <input id="elementF" type="text" ng-model="edit.current_long_text" >
                              </md-input-container>
                              <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                            </form>
                          </div>
                          <div ng-if="nodeSelected.$edit && nodeSelected.type=='style_template' && key=='DESCRIPTION'">
                            <form ng-submit="saveDescription(nodeSelected,edit.current_description)">
                              <md-input-container class="md-block">
                                <input id="elementF" type="text" ng-model="edit.current_description" >
                              </md-input-container>
                              <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                            </form>
                          </div>
                          <md-input-container class="md-block" ng-if="nodeSelected.source[key+$index].$edit && key!='LONG_TEXT'"">
                            <label>{{key}}</label>
                            <input type="text" ng-model="nodeSelected.source[key]" >
                          </md-input-container>

                        </td>
                        <td md-cell style="padding: 0px">
                         
                          <md-icon ng-bind="'edit'" ng-style="{cursor:nodeSelected.source.LOCKED?'not-allowed':'pointer'}"  ng-if="!nodeSelected.source[key+$index].$edit && key=='LONG_TEXT'" ng-click="editLongText(nodeSelected,$index)"><md-tooltip ng-if="nodeSelected.source.LOCKED">Unlock the Endpoint first before changing the long text</md-tooltip></md-icon>
                      
                          <div layout="row"  ng-if="nodeSelected.source[key+$index].$edit && key=='LONG_TEXT'">
                          
                              <md-icon ng-bind="'save'" style="cursor: pointer;" ng-click="saveLongText(nodeSelected,$index,edit.current_long_text)"></md-icon>
                         
                              <md-icon ng-bind="'cancel'" style="cursor: pointer;" ng-click="cancelLongText(nodeSelected,$index)"></md-icon>  
                          </div>
                         
                          <md-icon ng-bind="'edit'" style="cursor: pointer;" aria-label="Edit" ng-if="!nodeSelected.$edit && nodeSelected.type=='style_template' && key=='DESCRIPTION'" ng-click="editDescription(nodeSelected,$index)"></md-icon>                        
                          <div layout="row"  ng-if="nodeSelected.$edit && nodeSelected.type=='style_template' && key=='DESCRIPTION'">
                           
                            <md-icon ng-bind="'save'" style="cursor: pointer;" aria-label="Save"  ng-click="saveDescription(nodeSelected,edit.current_description)"></md-icon>
                       
                            <md-icon ng-bind="'cancel'" style="cursor: pointer;" aria-label="Cancel" ng-click="cancelDescription(nodeSelected)"></md-icon>  
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
        </md-card-content>
      </md-card>

      <md-card style="height: 700px"  ng-show="!mode_run && !add_endpoint && bapi_node_is_selected">
      <md-list  layout-align="left center">
        <tree-actions flex layout="row"></tree-actions>
      </md-list>
        <md-card-title style="-webkit-flex:none;padding-bottom: 23px;">
          
          <md-card-title-text>
            <span class="md-headline">BAPI Processor</span>
          </md-card-title-text>
         
        </md-card-title>
        <md-card-content >
          <form id="bapiFormId" name="bapiForm" novalidate ng-cloak ng-controller="BapiDialogController">
            <md-input-container class="md-block">
                  <label>Selector</label><br/><br/>
                         
                          <md-radio-group  layout="column" name="selector_name" ng-model="selector">
                            <md-radio-button value="O" class="md-primary">Business Objects</md-radio-button>
                            <md-radio-button value="B"> Bapi </md-radio-button>
                            <md-radio-button value="F">Function Modules</md-radio-button>
                            <md-radio-button value="P">Packages</md-radio-button>
                            <md-radio-button value="C">Catalog</md-radio-button>
                          </md-radio-group>
                         
            </md-input-container>
              <md-input-container class="md-block">
                              <label>Selection</label>
                              <input name="selection" ng-model="selection" required ng-pattern="/^[^*]?(\w|\d|\*)+[^*]?$/">
              </md-input-container>
               <md-input-container class="md-block">
                           <md-button class="md-raised md-primary" ng-click="send()" ng-disabled="bapiForm.$invalid">
                            Search
                          </md-button>
             </md-input-container>
          </form>
        </md-card-content>
      </md-card>

      <md-card style="height: 700px"  ng-if="!mode_run && add_endpoint && !bapi_node_is_selected" ng-controller="EndpointController" >
     
        <md-card-title style="-webkit-flex:none;padding-bottom: 23px;">
          
          <md-card-title-text>
            <span class="md-headline">Add Endpoint</span>
          </md-card-title-text>
         
        </md-card-title>
        <md-card-content style="height: 600px; overflow-y: auto" 
          ng-init="init(null,parentNode,gatewaySelected,json,endpoints_names,endpoints_main)">
           <form  id="frmEndpoint" name="frmEndpoint" ng-cloak>
        <div class="md-dialog-content" ng-show="page==1">
               <md-input-container class="md-block">
                <label>Namespace</label>
                <input ng-model="endpoint.NAMESPACE"  name="endpoint" required>
                 <div ng-messages="frmEndpoint.endpoint.$error">
              <div ng-message="required">This is required.</div>
             </div>
              </md-input-container>
               <md-input-container class="md-block">
                <label>Long Text</label>
                <input ng-model="endpoint.LONG_TEXT">
              </md-input-container>
               <md-input-container class="md-block">
                <label>Endpoint Main</label>
                <input name="endpoint_main" ng-model="endpoint.ENDPOINT_MAIN" required maxlength="30" md-maxlength="30"
                  pattern="[A-Za-z_\/]{1,30}">
                <div ng-messages="frmEndpoint.endpoint_main.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">This field must be 30 characters max.</div>
              <div ng-message="pattern">Endpoint Main does not conform with SAP syntax.</div>
             </div>
              </md-input-container>
               <md-input-container class="md-block">
                <label>Handler</label>
                <input name="handler" ng-model="endpoint.HANDLER" required>
                <div ng-messages="frmEndpoint.handler.$error">
              <div ng-message="required">This is required.</div>
            </div>
              </md-input-container>
               <md-input-container class="md-block">
                <label>Bus Name</label>
                <input ng-model="endpoint.BUS_NAME" >
              </md-input-container>
               <md-input-container class="md-block">
                <label>Type</label>
                <md-select name="type" ng-model="endpoint.TYPE" required>
                  <md-option value="D">Dynamic</md-option>
                  <md-option value="L">Static</md-option>
                </md-select>
                 <div ng-messages="frmEndpoint.type.$error">
              <div ng-message="required">You must select an option.</div>
            </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Version</label>
                <input ng-model="endpoint.VERSION">
              </md-input-container>
              <md-input-container class="md-block">
                <md-checkbox ng-model="endpoint.LOCKED" ng-true-value="'X'" ng-false-value="''"  >Locked</md-checkbox>             
              </md-input-container>
              <md-input-container class="md-block">
                <label>Package</label>
                <input name="package" ng-model="endpoint.PACKAGE" pattern="(\$TMP|((Y|Z)[1-9A-Za-z]+(_[1-9A-Za-z]+)?(_[1-9A-Za-z]+)?(_[1-9A-Za-z]+)?)|(\/[1-9A-Za-z]+(\/[1-9A-Za-z]+)?(\/[1-9A-Za-z]+)?(\/[1-9A-Za-z]+)?))" required>
                 <div ng-messages="frmEndpoint.package.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="pattern">Package does not conform with SAP syntax</div>
             </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Transport</label>
                <input ng-model="endpoint.TRANSPORT">
              </md-input-container>
        </div>
      </form>
      <form  id="frmEndpointStyle" name="frmEndpointStyle" ng-cloak>
        <div class="md-dialog-content" ng-show="page==2" layout-gt-sm="row" layout="column">
    <md-table-container>
              <table md-table>
                <thead md-head>
                  <tr md-row>
                    <th md-column> Name </th>
                    <th md-column> Direction</th>
                    <th md-column> json</th>
                    <th md-column><md-button class="md-icon-button" ng-click="addStyle()"><md-icon ng-bind="'add_box'"></md-icon></md-button></th>
                  </tr>
                </thead>
                <tbody md-body dnd-list="endpoint.STYLES">
                  <tr md-row ng-repeat="style in endpoint.STYLES " >
                    <td md-cell>
                      <md-input-container ng-show="style.DIRECTION==='I'" md-no-float>
                          <input ng-show="style.DIRECTION==='I'" ng-disabled="!style.BAND" ng-model="style.NAME"  required placeholder="Name" style="width: 80px">
                      </md-input-container>
                      <md-input-container ng-show="style.DIRECTION==='O'"  md-no-float>
                          <input ng-show="style.DIRECTION==='O'" ng-disabled="!style.BAND" ng-model="style.NAME"  required placeholder="Name" style="width: 80px">
                      </md-input-container>
                    </td>
                    <td md-cell>
                      <md-input-container md-no-float  ng-if="$index < 2">
                          <md-select ng-model="style.DIRECTION" required placeholder="Direction" ng-change="directionChanged(style)">
                            <md-option value="I">inbound</md-option>
                            <md-option value="O">outbound</md-option>
                          </md-select>
                      </md-input-container>
                      <span ng-if="$index > 1">outbound</span>
                    </td>
                    <td md-cell>
                      <md-input-container md-no-float 
                      >
                        <div  ui-ace="{ onChange: changeJSON,mode: 'json'}" style="width: 450px; height: 250px;" 
                          ng-model="style.JSON"
                          ui-on-Drop="onDrop($event,$data,style)"
                          drop-validate="dropValidate(style,$data)"
                            ></div>

                        <!-- <div ng-jsoneditor ng-model="style.JSON" options="{mode: 'tree'}" style="width: 300px; height: 215px;"  prefer-text="true" ></div> -->
                      </md-input-container>
                    </td>
                     <td md-cell>
                      <md-button class="md-icon-button" ng-click="deleteStyle($index)" ng-if="$index>1"><md-icon ng-bind="'delete_sweep'"></md-icon></md-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
 
  </div>


      </form>
        </md-card-content>
        <md-actions layout="row">
          <md-button class="md-raised" ng-click="changePage(1)" ng-show="page==2" >
           Back
          </md-button>
          <md-button class="md-raised md-primary" ng-click="changePage(2)" ng-show="page==1" ng-disabled="frmEndpoint.$invalid || !uniqueName  || !uniqueMain">
           Next
          </md-button>
          
          <md-button class="md-raised md-primary" ng-click="save()" ng-show="page==2" ng-disabled="frmEndpointStyle.$invalid || checkUniqueName() || !valid || !uniqueName || !uniqueMain">
           Save
          </md-button>
          <md-button class="md-warn" ng-click="cancel()">
            Cancel
          </md-button>
        </md-actions>
      </md-card>

      <md-card style="height: 700px" ng-if="mode_run && !add_endpoint">
        <md-card-title style="padding-bottom: 9px;">
          <md-card-title-text>
            <span class="md-headline">Call Syntax with Endpoint</span>
          </md-card-title-text>
          <md-actions  ng-if="!loading_tree">
            <md-button class="md-raised"  ng-if="payload_json.json" ng-disabled="!payload_json.json_test" ng-click="execute_details($event)" >
              Execute Call
            </md-button>
            <md-button hide-xs class="md-icon-button" aria-label="Refresh" title="Hide Syntax" ng-show="mode_run && json_logs.length>0 && !hide_results"
                      ng-click="hide_tree_execute()" style="padding: 0px; margin: 0px; width: 22px">
                     <md-icon ng-bind="'navigate_before'"></md-icon>
            </md-button>
            <!--<md-button class="md-raised">
              Call Details
            </md-button> -->
          </md-actions>
        </md-card-title>
        <md-card-content style="height: 600px;  overflow-y: auto"  ng-if="!loading_tree">
          <md-select ng-model="json_logs_executes_title" placeholder="Select the JSON execute" 
            style="width:80%" ng-change="changeJsonLogExecute(json_logs_executes_title)">
             <md-option ng-repeat="g in json_logs_executes" ng-value="g.title">
                  {{g.title}}
              </md-option>
          </md-select>
          <md-input-container class="md-block" ng-if="payload_json.json && url_details!=''">
            <label >Url Details</label>
            <input ng-model="url_details" type="text" readonly="true">
          </md-input-container>
          <md-content layout="column"  style="background-color: transparent;">
            <div layout-gt-sm="row">
              
                <md-input-container flex ng-if="payload_json.json && styles && styles.length>0">
                    <label >Select the Style </label>
                    <md-select ng-model="styleSelected"  style="width: 50%" placeholder="Select the Style"  ng-change="changeStyle(styleSelected)" >
                       <md-option ng-repeat="style in styles" ng-value="style" ng-selected="styleSelected.name == style.name">
                            {{style.name}}
                        </md-option>
                  </md-select>
                </md-input-container>
               
                <!--
                <md-input-container flex ng-if="payload_json.json" style="margin-bottom: 0px">
                  <label>JSON</label>
                  <textarea readonly="true" ng-value="json_to_string(payload_json.json)" rows="4" style="font-size: 10px;color: gray;line-height:18px" md-no-autogrow>
                  </textarea>
                </md-input-container>
              -->
            </div>
            <md-input-container>
                <label>Compression</label>
                <md-select  ng-model="wrap.compression" style="width: 100px">
                  <md-option value="N" >None</md-option>
                  <md-option value="O" >Outbound</md-option>
                  <md-option value="I" >Inbound</md-option>
                  <md-option value="B" >Both</md-option>
                </md-select>
            </md-input-container>
          </md-content>
          <md-content layout="row" class="md-block" style="background-color: transparent;">
              <md-input-container flex>
                <md-checkbox ng-model="wrap.testRun">Test Run</md-checkbox>
              </md-input-container>
              <md-input-container flex>
                <label>Call Mode</label>
                <md-select  ng-model="wrap.callMode" >
                  <md-option value="S" >Sync</md-option>
                  <md-option value="A" >Async</md-option>
                  <md-option value="Q" >Queued</md-option>
                  <md-option value="B" >BPM</md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Call Back</label>
                <md-select  ng-model="wrap.callBack" >
                  
                </md-select>
             </md-input-container>
          </md-content>
          <md-tabs md-dynamic-height md-border-bottom md-selected="opt.selectedIndex" ng-show="opt.show">
            <md-tab label="REQUEST" md-on-select="setRequest()">
            </md-tab>
            <md-tab label="RESPONSE" md-on-select="setResponse()">
            </md-tab>
          </md-tabs>
          <div id="sourceURLField" ng-if="payload_json.json" ui-ace="{ onLoad : editorLoaded,mode: 'json',showPrintMargin:false}" style="width: 100%; height: 100%;"  ng-model="payload_json.json_string"></div>
        </md-card-content>
      </md-card>

   </div>
   <div flex-xs flex-gt-xs="{{sizeViewExecute()}}" ng-if="mode_run && json_logs.length>0" ng-show="!hide_results ">
      <md-card style="height: auto" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-subheadline">RESULT</span>
          </md-card-title-text>
           <md-actions >
            <md-button class="md-raised"  ng-click="clear_log_json_result()" >
              Clear log
            </md-button>
            <md-button hide-xs class="md-icon-button" aria-label="Close" title="Close"
                      ng-click="hideResults()">
                     <md-icon ng-bind="'close'"></md-icon>
            </md-button>
          </md-actions>
        </md-card-title>
        <md-card-content >
          <md-select ng-model="json_logs_title" placeholder="Select the JSON Result" 
            style="width:80%" ng-change="changeJsonLog(json_logs_title)">
             <md-option ng-repeat="g in json_logs" ng-value="g.title">
                  {{g.title}}
              </md-option>
        </md-select>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Plain Format">
              <br/><span class="title-log-result">{{json_logs_title}}: Result</span><br/>
              <md-content class="md-padding">
                <!--<span class="content-log-result"> <code><pre>{{json_logs_content}}</pre></code></span>
                  -->
                  <md-button class="md-primary"  ng-click="downloadJSON()" >
                    Download JSON
                  </md-button>
                  <md-table-container>

                  <table md-table >
                        <tbody style="background-color:white">
                                <tr ng-repeat="item in json_logs_content  | limitTo: query.limit: (query.page - 1) * query.limit">
                                  <td><pre>{{item | json}}</pre></td>
                                </tr>
                              </tbody>
                            </table>
                  
                </md-table-container>
                <md-button class="md-primary"  ng-click="downloadJSON()" >
                    Download JSON
                  </md-button>
                <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{json_logs_content.length}}" md-page-select></md-table-pagination>
              </md-content>
            </md-tab>
            <md-tab label="Tree format" ng-if="json_logs_content.length<1000">
              <br/><span class="title-log-result">{{json_logs_title}}: Result</span><br/>
                <div ng-jsoneditor="onLoadJson" ng-model="json_logs_content_obj" options="payload_json.options" style="width: 100%; height: 300px;"></div>
            </md-tab>
          </md-tabs>
        </md-card-content>
      </md-card>
   </div>
 </md-content>


</md-content>
</div>

<style type="text/css">
  treenode .disabled {
    color: rgba(0,0,0,0.87);
    cursor: default;
  }
</style>
