<div ng-cloak >

<main-menu></main-menu>
<main-toolbar></main-toolbar>

    <md-content ng-init="init()">
    <div flex-xs flex-gt-xs="100" layout="column">

    <md-card md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Gateway List</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-xs card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <md-select ng-model="gatewaySelectedId" placeholder="Select the Gateway" style="width:80%" ng-change="changeGateway(gatewaySelectedId)">
             <md-option ng-repeat="g in gateways" ng-value="g.id">
                  {{g.name}} --> {{g.client.name}}
              </md-option>
        </md-select>
        
        </md-card-content>
      </md-card>

    </div>

<div layout="row" layout-xs="column" layout-wrap>
   
       <md-card  flex ng-if="gatewaySelected!=null">
        <md-card-title style="-webkit-flex:none">
          <md-card-title-text>
            <div layout="row">
                <span class="md-subhead">{{gatewaySelected.name}}</span>
                <div style="text-align: right;width: 80%">
                  <md-button class="md-icon-button" aria-label="Refresh" title="Refresh"
                      ng-click="changeGateway(gatewaySelectedId)">
                     <md-icon ng-bind="'cached'"></md-icon>
                  </md-button>
                </div>
            </div>
          </md-card-title-text>
        
        </md-card-title>
       <md-card-content>
        <tree nodes='basicTree' options='treeOptions'></tree>
       </md-card-content>
      </md-card>
   


      <md-card  flex ng-if="gatewaySelected!=null" >
        <md-card-title style="-webkit-flex:none">
          <md-card-title-text>
            <span class="md-subhead">Properties</span>
          </md-card-title-text>
         
        </md-card-title>
        <md-card-content>
           <table md-table style="table-layout: fixed">
                    <thead md-head>
                      <tr md-row >
                          <th md-column>Property</th>
                          <th md-column >Value</th>
                          <th md-column></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row class="with-hover" ng-repeat="(key, value) in nodeSelected.source">
                        <td md-cell style="text-overflow:ellipsis;overflow:hidden;">{{key}}</td>
                        <td md-cell style="text-overflow:ellipsis;overflow:hidden;"><span ng-if="!nodeSelected.source[key+$index].$edit">{{isArray(value) ? '(Collection)' : value}}</span>
                          <md-input-container class="md-block" ng-if="nodeSelected.source[key+$index].$edit">
                            <label>{{key}}</label>
                          <input type="text" ng-model="nodeSelected.source[key]" >
                        </md-input-container>

                        </td>
                        <td md-cell >
                            <md-button class="md-icon-button" title="Edit" ng-click="nodeSelected.source[key+$index].$edit=true" ng-if="!nodeSelected.source[key+$index].$edit">
                               <md-icon ng-bind="'create'"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" title="Save" ng-click="nodeSelected.source[key+$index].$edit=false" ng-if="nodeSelected.source[key+$index].$edit">
                               <md-icon ng-bind="'done'"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" title="Cancel" ng-click="nodeSelected.source[key+$index].$edit=false" ng-if="nodeSelected.source[key+$index].$edit">
                               <md-icon ng-bind="'clear'"></md-icon>
                            </md-button>

                        </td>
                      </tr>
                    </tbody>
                </table>
        </md-card-content>
      </md-card>

   </div>
 </md-content>
</div>