<div ng-cloak>

	<main-menu></main-menu>
	<main-toolbar></main-toolbar>


	<md-content id="content" ng-init="init()" id="content"> 
		<md-card>
			<md-toolbar class="md-table-toolbar md-default">
				<div class="md-toolbar-tools">
					<h2 class="md-title">Request Logs</h2>
					<div flex="" class="flex"></div>
					 <md-button class="md-icon-button" aria-label="Settings" ng-click="deleteAll()" title="Clear Logs">
				         <md-icon ng-bind="'delete'"></md-icon>
				    </md-button>
				</div>
			</md-toolbar>
			<md-table-container>
				<table md-table ng-model="selected" md-progress="promise" style="table-layout: fixed">
				  <thead md-head md-order="query.order">
	                <tr md-row >
	                  <th md-column style="width: 5%"></th>
	                  <th md-column style="width: 15%">User</th>
	                  <th md-column style="width: 10%">Date/Time</th>
	                  <th md-column style="width: 35%">Url Request</th>
	                  <th md-column style="width: 35%">Body Content/Error Reason</th>
	                </tr>
	              </thead>
	              <tbody md-body style="font-weight: bold">
	                <tr md-row class="with-hover" ng-repeat="l in logs" md-auto-select>
	                  <td md-cell>
	                  	<button ng-show="!l.$show_full_body" ng-click="l.$show_full_body = true" title="See more">[+]</button>
	                  	<button ng-show="l.$show_full_body" ng-click="l.$show_full_body = false" title="See less">[-]</button>
	                  </td>		
	                  <td md-cell>{{l.user.name}}</td>
	                  <td md-cell>{{l.created_at}}</td>
	                  <td md-cell><span class="hardBreak">{{l.url}}</span></td>
	                  <td md-cell>
	                  		<span class="hardBreak" ng-show="!l.$show_full_body">{{l.body | limitTo : 500}} </span>
	                  		<span class="hardBreak" ng-show="l.$show_full_body">{{l.body}}</span>
	                  </td>
	                </tr>
	              </tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-on-paginate="init" md-page="query.page" md-total="{{total}}" md-page-select></md-table-pagination>
			
		</md-card> 
	</md-content>

	<main-footer></main-footer>
</div>