<div ng-cloak>

	<main-menu></main-menu>
	<main-toolbar></main-toolbar>


	<md-content id="content" ng-init="init()" id="content"> 
		<md-card>
			<md-toolbar class="md-table-toolbar md-default">
				<div class="md-toolbar-tools">
					<h2 class="md-title">Request Logs</h2>
					<div flex="" class="flex"></div>
				</div>
			</md-toolbar>
			<md-table-container>
				<table md-table ng-model="selected" md-progress="promise" style="table-layout: fixed">
				  <thead md-head md-order="query.order">
	                <tr md-row >
	                  <th md-column style="width: 15%">User</th>
	                  <th md-column style="width: 10%">Date/Time</th>
	                  <th md-column style="width: 35%">Url Request</th>
	                  <th md-column style="width: 40%">Body Content/Error Reason</th>
	                </tr>
	              </thead>
	              <tbody md-body style="font-weight: bold">
	                <tr md-row class="with-hover" ng-repeat="l in logs" md-auto-select>
	                  <td md-cell>{{l.user.name}}</td>
	                  <td md-cell>{{l.created_at}}</td>
	                  <td md-cell><span style="word-break: break-all;">{{l.url}}</span></td>
	                  <td md-cell><span style="word-break: break-all;">{{format(l.body)}}</span></td>
	                </tr>
	              </tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-on-paginate="init" md-page="query.page" md-total="{{total}}" md-page-select></md-table-pagination>
			
		</md-card> 
	</md-content>

	<main-footer></main-footer>
</div>